.social-network {
  list-style: none;
  padding: 0;
}

.social-network>li {
  display: inline;
  padding: 10px;
  margin: 0;
  font-size: 35px;
}

.icoGithub, .icoInstagram, .icoLinkedin {
  color: #FFF;
}

.icoGithub:hover {
  color: black;
}

.icoInstagram:hover {
  color: #c13584;
}

.icoLinkedin:hover {
  color: #0072b1;
}