.parallax {
  background-image: url('https://cdn.pixabay.com/photo/2015/09/05/20/02/coding-924920_960_720.jpg');
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}